/* 
    Design system
*/

@font-face { 
    font-family: Pacifico; 
    src: url('fonts/Pacifico-Regular.ttf'); 
} 
@font-face { 
    font-family: Roboto; 
    src: url('fonts/Roboto-Regular.ttf'); 
} 
* {
    font-family: Roboto; 
}

.border-primary {
    border: solid black 1px;
}
.background-color-primary{
    background-color: darkred;
}

.title {
    font-family: Pacifico;
}
/**/

header {
    position: fixed;
    z-index: 2;
    top: 0px;
    left: 0px;
    right: 0px;
}

.links>*, .button {
    color : white;
}
.links>*:hover, .button:hover {
    background-color: white;
    color: darkred;
    text-decoration: underline;
}
.links>*:focus, .button:focus {
    background-color: green;
    color : white;
}

.img {
    width: 300px;
    height: 200px;
}
.txt {
    width: 300px;
    height: 200px;
    text-align: center;
}


.hero {
    background-image: url("img/pizza-2810589_1920.jpg");
}

.titreVert {
    color: green;
}

.service > p {
    border : solid black 2px;
}

.texteVert {
    color: lightgreen;
    font-size: 1.5rem;
}
.iconeBleue {
    color : rgb(145, 145, 233);
    font-size: 1.7rem;
}

.gMap {
    width: 350px;
    height: 300px;
}